<?xml version="1.0"?>
<!--
iwr https://chocolatey.org/install.ps1 -UseBasicParsing | iex
cinst -y packages.config
-->
<packages>
    <package id="cmder" />
    <package id="googlechrome" />
    <package id="Firefox" />
    <package id="Gpg4win" />
    <package id="ctags" />
    <package id="curl" />
    <package id="git" />
    <package id="hg" />
    <package id="mingw" />
    <package id="python3" />
    <package id="Atom" />
    <package id="ChocolateyGUI" />
    <package id="winmerge" />
    <package id="imagemagick" />
    <package id="adobereader" />
    <package id="vlc" />
    <package id="flashplayerplugin" />
    <package id="jre8" />
    <package id="jdk8" />
    <package id="7zip" />
    <package id="thunderbird" />
    <package id="virtualbox" />
    <package id="wget" />
    <package id="gimp" />
    <package id="inkscape" />
    <package id="itunes" />
    <package id="steam" />
    <package id="sourcetree" />
    <package id="nodejs" />
    <package id="make" />
    <package id="ag" />
    <package id="xming" />
    <package id="putty" />
    <package id="msys2" />
    <package id="mp3gain" />
    <package id="ruby" />
</packages>
