*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.gch
*.jar
*.log
*.log
*.nav
*.old
*.out
*.pdf
*.pyc
*.snm
*.swp
*.synctex.gz
*.toc
*.vrb
*~
.DS_Store
.\#*
._*
._.DS_Store
.~*
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
Testing
Thumbs.db
\#*
__MACOSX
backup/*
cmake_install.cmake
compile_commands.json
fcitx-pinyin.config
install_manifest.txt
result
tags
~$*

