export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=”@im=fcitx”

# wacom
#
# 3        9
#  1      8
# ----------
# |        |
# |        |
# |        |
# ----------

if which xsetwacom 1>/dev/null 2>&1 ; then
    xsetwacom --set "Wacom Intuos PT M 2 Pad pad" Button 1 "3"
    xsetwacom --set "Wacom Intuos PT M 2 Pad pad" Button 3 "key +ctrl z -ctrl"
    xsetwacom --set "Wacom Intuos PT M 2 Pad pad" Button 9 "key tab"
fi

