[Desktop Entry]
Name=Cities: Skylines
Comment=Play this game on Steam
Exec=steam steam://rungameid/255710
Icon=steam_icon_255710
Terminal=false
Type=Application
Categories=Game;
