[Desktop Entry]
Type=Application
Version=1.0
Name=cerebro
Comment=cerebrostartup script
Exec=/usr/lib/cerebro/cerebro
StartupNotify=false
Terminal=false