# IMAP: offlineimap
set folder = "~/Mail"
set spoolfile = "+a/INBOX"
set record = "+a/Sent\ Items"
set postponed = "+a/Drafts"
mailboxes "+a/INBOX" \
          "+a/Archives" \
          "+a/Archives.2016" \
          "+a/Drafts" \
          "+a/Junk" \
          "+a/Outbox" \
          "+a/Sent" \
          "+a/Trash"

#source "gpg2 -d ~/pass/mutt/a-passwd.gpg |"

#set from=""
#set realname=""
#set imap_user=""
#set smtp_url="smtp://xxx@smtp.gmail.com:587/"
#set imap_pass=""
#set smtp_pass=""

