# IMAP: offlineimap
set folder = "~/Mail/Gmail"
set spoolfile = "+INBOX"
set record = "+Sent\ Items"
set postponed = "+Drafts"
mailboxes "+INBOX" \
          "+[Gmail].All Mail" \
          "+[Gmail].Drafts" \
          "+[Gmail].Important" \
          "+[Gmail].Sent Mail" \
          "+[Gmail].Spam" \
          "+[Gmail].Starred" \
          "+[Gmail].Trash"

#source "gpg2 -d ~/pass/mutt/passwd.gpg |"

#set from=""
#set realname=""
#set imap_user=""
#set smtp_url="smtp://xxx@smtp.gmail.com:587/"
#set imap_pass=""
#set smtp_pass=""

