# IMAP: offlineimap
set folder="imaps://imap.gmail.com:993"
set spoolfile         =  "imaps://imap.gmail.com/INBOX"
set record="imaps://imap.gmail.com:993/[Gmail]/Sent Mail"
set postponed         =  "imaps://imap.gmail.com/[Gmail]/Drafts"
mailboxes +INBOX \
          +[Gmail]/All\ Mail \
          +[Gmail]/Drafts \
          +[Gmail]/Important \
          +[Gmail]/Sent\ Mail \
          +[Gmail]/Spam \
          +[Gmail]/Starred \
          +[Gmail]/Trash

source "gpg2 -d ~/pass/mutt/passwd.gpg |"

#set from=""
#set realname=""
#set imap_user=""
#set smtp_url="smtp://xxx@smtp.gmail.com:587/"
#set imap_pass=""
#set smtp_pass=""
#account-hook $folder "set imap_user= imap_pass="

