# c = open mailbox 
# C = copy mail 
# s = move mail
# N = mark as read

# general settings {{{

#set editor="vim -c 'e ++enc=iso-2022-jp'"
set send_charset="iso-2022-jp:UTF-8"
#set strict_mime=no
set assumed_charset="iso-2022-jp:shift_jis:utf-8"
set thorough_search=yes
#set sanitize_ja_chars=yes
set rfc2047_parameters=yes
set edit_headers=yes
set write_bcc=no
set move=no
set use_from=yes
set envelope_from=yes
set abort_nosubject=no

set read_inc=100
set header_cache      =  ~/.mutt/cache/headers
set message_cachedir  =  ~/.mutt/cache/bodies
set certificate_file  =  ~/.mutt/certificates
set charset = "UTF-8"
set file_charset="iso-2022-jp:euc-jp:shift_jis:utf-8"
set assumed_charset="iso-2022-jp:euc-jp:shift_jis:utf-8"

set date_format="%y/%m/%d"
set index_format="%2C %Z %{%y/%m/%d %H:%M} %-25.25f %s"
set sort=reverse-date
set copy=no

# }}} general settings

# sidebar {{{

set sidebar_visible = yes
macro index,pager b '<enter-command>toggle sidebar_visible<enter>'
bind index B bounce-message
# Ctrl-n, Ctrl-p to select next, previous folder.
# Ctrl-o to open selected folder.
bind index,pager \CP sidebar-prev
bind index,pager \CN sidebar-next
bind index,pager \CO sidebar-open
#mailboxes +INBOX +[Gmail]/All\ Mail +[Gmail]/Drafts +[Gmail]/Important \
#+[Gmail]/Sent\ Mail +[Gmail]/Spam +[Gmail]/Starred +[Gmail]/Trash

# }}} sidebar

# key bindings {{{

bind pager j next-line
bind pager k previous-line
bind pager J next-undeleted
bind pager K previous-undeleted
#Ctrl-Dで半ページスクロール下
bind pager "\Cd" half-down
#Ctrl-Uで半ページスクロール上
bind pager "\Cu" half-up

# fでurlなどを表示
macro index,pager,attach,compose f "\
<enter-command> set my_pipe_decode=\$pipe_decode pipe_decode<Enter>\
<pipe-message> urlview<Enter>\
<enter-command> set pipe_decode=\$my_pipe_decode; unset my_pipe_decode<Enter>" \
"call urlview to extract URLs out of a message"
# ^dでページ半分下にスクロール
bind index,pager,attach,compose \cd half-down
# ^uでページ半分上にスクロール
bind index,pager,attach,compose \cu half-up
# ^fで1ページ下にスクロール
#bind index,pager,attach,compose \cf next-page
# ^bで1ページ上にスクロール
#bind index,pager,attach,compose \cb previous-page

# ggで一番上にスクロール
bind index gg first-entry
# Gで一番下にスクロール
bind index G last-entry
# ^nで次のエントリに行く
#bind index,browser \cn next-entry
# ^pで前のエントリに行く
#bind index,browser \cp previous-entry

# メッセージの最初に飛ぶ
bind pager gg top
# メッセージの最後に飛ぶ
bind pager G bottom
# jで一行下にスクロール
bind pager j next-line
# ^nで一行下にスクロール
#bind pager \cn next-line
# kで一行上にスクロール
bind pager k previous-line
# ^pで一行上にスクロール
#bind pager \cp previous-line
# hで前のメッセージに行く
bind pager h previous-undeleted
# lで次のメッセージに行く
bind pager l next-undeleted
## <Space>で添付ファイルを表示する
#bind attach <Space> view-attach

# toggle 'view-source'
bind pager <Esc>h display-toggle-weed

# mark all emails as read
macro index A \
    "<tag-pattern>~N<enter><tag-prefix><clear-flag>N<untag-pattern>.<enter>" \
    "mark all new as read"

macro index,pager <f2> '<sync-mailbox><enter-command>source ~/dotfiles/mutt/gmail-online.rc<enter><change-folder>!<enter>'
macro index,pager <f3> '<sync-mailbox><enter-command>source ~/dotfiles/mutt/gmail-offline.rc<enter><change-folder>!<enter>'
macro index,pager <f4> '<sync-mailbox><enter-command>source ~/dotfiles/mutt/a-online.rc<enter><change-folder>!<enter>'
macro index,pager <f5> '<sync-mailbox><enter-command>source ~/dotfiles/mutt/a-offline.rc<enter><change-folder>!<enter>'

# }}} key bindings

# color highlight {{{

color header green black "^Date:"
color header yellow black "^Subject:"
color header green black "^From:"
color header green black "^To:"
color header green black "^Cc:"
color body blue black "(ftp|http|https)://[^ ]+"
color body blue  black "[-a-zA-Z0-9_.]+@[-a-zA-Z0-9_.]+"

# }}} color highlight

# accounts {{{

source ~/dotfiles/mutt/gmail-online.rc
folder-hook .*@gmail\.com/ 'source ~/dotfiles/mutt/gmail-online.rc'
source ~/dotfiles/mutt/gmail-offline.rc
folder-hook ~/Mail/Gmail/ 'source ~/dotfiles/mutt/gmail-offline.rc'
source ~/dotfiles/mutt/a-online.rc
folder-hook ~/Mail/a/ 'source ~/dotfiles/mutt/a-online.rc'
source ~/dotfiles/mutt/a-offline.rc
folder-hook .*\.jp/ 'source ~/dotfiles/mutt/a-offline.rc'

source ~/dotfiles/mutt/gmail-online.rc 

# }}}

